
nav {
    display: flex;
    justify-content: space-around;

    button {
        background-color: rgba(83, 70, 25, 0.197);
        color: black;
        padding: 9px;
    }

    button:hover{
        cursor:alias;
    }
}