#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background: teal;
  /* url(src/assets/peoplepodcastimg.png) repeat; */
  height: 100vh;
  width: 100vw;
  margin: 0;
  filter: brightness(94%) contrast(74%);
  /* background-image: space; */
  display: flex;
  flex-direction: column;
}

.nav-container {

  display: flex;
  justify-content: space-around;
  align-items: center;

  .btn-container {
    padding: 5px;

    .btn {
      background-color: rgba(83, 70, 25, 0.197);
      color: black;
      padding: 12px;
    }

  }

  /* button:hover {
    cursor: url('./assets/peoplepodcastimg.png');
  } */

}

.about_container {
  border: 2px outset grey;
  padding: 4px 22px;
  margin: 4px;
  text-align: center;
  overflow-wrap: break-word;
  width: 80vw;
  font-size: medium;
}
